@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;    
    
}

 a {
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    color: red;    
}

a:hover, a:focus {
    color: black;
}

li {
    color: #4e9afd;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

h1 {
    color: royalblue;
    text-align: center;
    padding: 10px;
    text-decoration: red underline;
}

div {
    align-items:center;
    justify-content: center;
    border: solid #4e9afd;
    display: flex;
}

input {
    margin-left: 30px;
}
